@model ListaTelefonica.Models.Entidades.Contato

@{
    ViewData["Title"] = "Create";
}

<h2>Criar um contato</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" data-mask="000.000.000-00" id="cpf" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Tipo de telefone</label>
                <Select asp-for="Tipo" class="form-control" asp-items="ViewBag.TipoTelefone"></Select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaTelefone" class="control-label"></label>
                <input asp-for="ListaTelefone" class="form-control" />
                <span asp-validation-for="ListaTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input id="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaEndereco" class="control-label"></label>
                <input asp-for="ListaEndereco" class="form-control" />
                <span asp-validation-for="ListaEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="sub" value="Criar" class="btn btn-default" />
            </div>
            <span id="resultado"></span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script>

   $(document).ready(function () {
      $("#cpf").Mask('000.000.000-00', { reverse: true });
   });

   $("#email").blur(function () {
       validarEmail(this.value)
    });
    $("#cpf").blur(function (c) {
        verificarCPF(this.value)
    });

    function validarEmail(email) {
        var e = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        if (e.test(email)) {
            return email;
        } else {
            alert("Digite um email valido1");
            return false
        }
    }

    function verificarCPF(c) {
        var i;
        s = c.replace(/[^\d]+/g, '');
        var c = s.substr(0, 9);
        var dv = s.substr(9, 2);
        var d1 = 0;
        var v = false;

        for (i = 0; i < 9; i++) {
            d1 += c.charAt(i) * (10 - i);
        }
        if (d1 == 0) {
            alert("Digite um CPF válido")
            v = true;
            return false;
        }
        d1 = 11 - (d1 % 11);
        if (d1 > 9) d1 = 0;
        if (dv.charAt(0) != d1) {
            alert("Digite um CPF válido")
            v = true;
            return false;
        }

        d1 *= 2;
        for (i = 0; i < 9; i++) {
            d1 += c.charAt(i) * (11 - i);
        }
        d1 = 11 - (d1 % 11);
        if (d1 > 9) d1 = 0;
        if (dv.charAt(1) != d1) {
            alert("Digite um CPF válido")
            v = true;
            return false;
        }
        if (!v) {

        }
    }


   /* function validar(){
                var nome = form.nome.value;
                var email = form.email.value;
                var CPF = formu.CPF.value;

                if(nome == ""){
                    alert('Preencha o campo nomeEEEEEEEEE.');
                    form.nome.focus();
                    return false;
                }

                if(email == ""){
                    alert('Preencha o campo E-mail.');
                    form.email.focus();
                    return false;
                }

                if(CPF == "" ){
                    alert('Preencha o campo CPF');
                    formuser.CPF.focus();
                    return false;
                }
            } */

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
